html {
	width: 100%;
	height: 100%;
}

body {
    height:100%;
    width:100%;
    margin:0px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    overflow: hidden;
}

#content {
    width:100%;
    height: 90%;
    margin: 0px;
    z-index: 4;
    position: absolute;
    bottom: 0px;
    right: 0px;
    transition: right 1s ease;
    -webkit-transition: right 1s ease;
    -moz-transition: right 1s ease;
    -o-transition: right 1s ease;
    -ms-transition: right 1s ease;
    box-shadow: 1px 0px 5px #888888;
}

#menuBox {
    width: 25%;
    height: 90%;
    margin: 0px;
    z-index: 0;
    position: absolute;
    right: 0px;
}

input {
 font-family: inherit;
}

#map-canvas {
	width: 100%;
	height: 100%;
    margin : 0px;
}

#header {
    height: 100px;
    width: 100%; 
    margin: 0px;
    padding-left: 25px;
    z-index: 5;
    position:absolute;
    background-image: -webkit-gradient(
  linear, left top, left bottom, from(rgba(255,255,255,0.9)),
  to(rgba(255,255,255,0.1)), color-stop(.9,#fffbfb)
);
}

#header a {
    text-decoration: none;
    color: inherit;
}

#headerImage {
    height: 50px;
    width: 50px;
    margin-top: 25px;
    float: left;
}

#headerMenuButton {
    height: 30px;
    width: 30px;
    margin: 0px;
    position: absolute;
    right: 50px;
    top: 35px;
}

#headerTitle {
    padding:0px;
    margin: 0px;
    margin-top: 30px;
    margin-left: 15px;
    float: left;
}

#headerMenu {
    list-style-type: none;
    float: left;
    margin-top: 38px;
}

#headerMenu li {
    display: inline;
    margin: 0px;
    font-size: 20px;
    margin-left: 20px;
}

#searchBar {
    z-index: 5;
    width: 100%;
    position: absolute;
    top: 25px;
    left: 25px;
}

#searchBar #searchIcon {
    height: 35px;
    z-index: 6;
    width: 35px;
    position: absolute;
    top: 2px;
}

#locationBar {
    height: 35px;
    width: 300px;
    min-width: 300px;
    padding-left:40px;
    border: none;
    border: solid 1px #bfbfbf;
    border-radius: 5px;
    font-size: 17px;
    opacity: .8;
    transition: width 1s linear 0s, opacity .5s ease;
    -webkit-transition: width 1s, opacity .5s ease;
}

#locationBar:focus {   
    width: 400px;
    opacity: 1;
}

@keyframes activityColorChange {
    0% {background-color: #e83600;}
    25% {background-color: #f2df00;}
    50% {background-color: green;}
    75% {background-color: #0062E3;}
    100% {background-color: #e83600;}
}

@-webkit-keyframes activityColorChange {
    0% {background-color: #e83600;}
    25% {background-color: #facb04;}
    50% {background-color: green;}
    75% {background-color: #0062E3;}
    100% {background-color: #e83600;}
}

#activityIndicator {
    z-index: 7;
    height: 100%;
    width: 100%; 
    position: absolute;
    top:0px;
    background-color: rgba(255, 255, 255, 0.85);
}

#activityIndicatorAnimator {
    width: 75px;
    position: absolute;
    top: 40%;
    left: 45%;
    margin: 0px;
    padding: 0px;
    background-color: red;
    border-radius: 5px;
    animation: activityColorChange 5s infinite alternate;
    -webkit-animation: activityColorChange 5s infinite ease;
}

#activityIndicatorAnimator img {
    height: 100%;
    width: 100%;
}