html {
	width: 100%;
	height: 100%;
}

body {
    height:100%;
    width:100%;
    margin:0px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

input {
 font-family: inherit;
}

#map-canvas {
	width: 100%;
	height: 90%;
    margin : 0px;
    z-index: 0;
    position: absolute;
    bottom: 0px;
}

#header {
    height: 100px;
    width: 100%; 
    margin: 0px;
    padding-left: 25px;
    z-index: 5;
    position:absolute;
    background-image: -webkit-gradient(
  linear, left top, left bottom, from(rgba(255,255,255,0.9)),
  to(rgba(255,255,255,0.1)), color-stop(.9,#fffbfb)
);
}

#headerImage {
    height: 50px;
    width: 50px;
    margin-top: 25px;
    float: left;
}

#headerTitle {
    padding:0px;
    margin: 0px;
    margin-top: 30px;
    margin-left: 15px;
    float: left;
}

#headerMenu {
    list-style-type: none;
    float: left;
    margin-top: 38px;
}

#headerMenu li {
    display: inline;
    margin: 0px;
    font-size: 20px;
    margin-left: 20px;
}

#searchBar {
    z-index: 10;
    width: 100%;
    position: absolute;
    top: 125px;
    left: 25px;
}

#searchBar #searchIcon {
    height: 35px;
    width: 35px;
    position: absolute;
    top: 2px;
}

#locationBar {
    height: 35px;
    width: 300px;
    min-width: 300px;
    padding-left:40px;
    border: none;
    border: solid 1px #bfbfbf;
    border-radius: 5px;
    font-size: 17px;
    transition: width 1s;
    -webkit-transition: width 1s;
}

#locationBar:focus {   
    width: 25%;
}